/*.App {*/
/*  text-align: center;*/
/*}*/

.blok {
  text-align: center;
  border: 1px solid #F04716;
  width: 700px;
  height: auto;
  margin: 30px auto;
}

.addText {
  margin-top: 20px;
}

.blok-Task {
  width: 600px;
  max-height: 100%;
  border: 1px solid chartreuse;
  margin: 20px auto;
}

.Task {
  display: flex;
  justify-content: space-between;
  width: 500px;
  border: 1px solid blue;
  margin: 10px auto;
  align-items: center;
  padding: 5px;
}