body {
  background: lightslategray;
}
.blok {
  text-align: center;
  border: 1px solid #F04716;
  width: 700px;
  height: auto;
  margin: 30px auto;
  background: coral;
}

.addText {
  margin-top: 20px;
}

.blok-Task {
  display: flex;
  justify-content: space-between;
  width: 500px;
  border-radius: 10px;
  margin: 10px auto;
  align-items: center;
  padding: 5px;
  background: antiquewhite;
}